@model AspNetCore5.Models.FormViewModel

<h4>Form data</h4>

<p>By submitting this form, we test if the Form data parameters are logged.</p>

@using (Html.BeginForm("Form", "Home", FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="hidden-Input01" value="value-for-hidden-input-01" />
    <input type="hidden" name="hidden-Input02" value="value-for-hidden-input-02" />
    <input type="hidden" name="hidden-Input03" value="value-for-hidden-input-03" />

    <div class="form-group">
        @Html.LabelFor(p => p.Input01)
        @Html.TextBoxFor(p => p.Input01, new { @class = "form-control", @autocomplete = "off" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Input02)
        @Html.TextBoxFor(p => p.Input02, new { @class = "form-control", @autocomplete = "off" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Input03)
        @Html.TextBoxFor(p => p.Input03, new { @class = "form-control", @autocomplete = "off" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Password)
        @Html.TextBoxFor(p => p.Password, new { @class = "form-control", @autocomplete = "off" })
        <small class="form-text text-muted">Because this input name contains the keyword "pass", it will be obfuscated before it will be sent to @(Configuration["KissLog.ApiUrl"])</small>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" rel="nofollow">Submit</button>
    </div>
}